<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="glyphicon glyphicon-menu-hamburger navbar-toggle small" style="color:#9d9d9d" data-toggle="collapse" data-target=".navbar-collapse"></span>
			{{#link-to 'tasks' class="navbar-brand"}}Tasks{{/link-to}}
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					{{#link-to "help"}}
						<span class="glyphicon glyphicon-question-sign"></span>
						<span class="visible-xs-inline"> Help</span>
					{{/link-to}}
				</li>
				<li>
					{{#link-to "logoff"}}
						<span class="glyphicon glyphicon-off"></span>
						<span class="visible-xs-inline"> Log-off</span>
					{{/link-to}}
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="fluid-container">
	<div class="row">
		<div class="col-md-12 col-md-offset-0 main">
			{{outlet}}
		</div>
	</div>		
</div>		
