<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			{{#link-to 'tasks' class="navbar-brand"}}Tasks{{/link-to}}
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>{{#link-to "help"}}Help{{/link-to}}</li>
			</ul>
		</div>
	</div>
</nav>

<div class="fluid-container">
	<div class="row">
		<div class="col-md-12 col-md-offset-0 main">
			{{outlet}}
		</div>
	</div>		
</div>		
