<div id="search" class="form-group has-feedback">
{{input class="form-control" value=search action="newTask" on="enter" placeholder="Search and create..."}}
<span class="form-control-feedback glyphicon glyphicon-search"></span>
</div>
{{#if controller}}
<div class="task-container">
{{#each task in controller}}
	{{view "task" task=task readOnly=task.done tick=controller.tick}}
{{/each}}
</div>
{{else}}
<h1 class="text-center">No task 😃</h1>
{{/if}}
