<form id="search">
	<div class="form-group has-feedback">
	{{input class="form-control" value=search action="newTask" on="enter" placeholder="Search and create..."}}
	<span class="form-control-feedback glyphicon glyphicon-search"></span>
	</div>
</form>
{{#if controller}}
{{view "task-container" tasks=controller}}
{{else}}
<h1 class="text-center">No task 😃</h1>
{{/if}}
