<h3 class="page-header">Known limitation</h3>
The application was tested on Chrome and Firefox.
Firefox does not provide persistance for notifications,
therefore you might miss some important updates.

<h3 class="page-header">Example of a task</h3>
{{view "task" task=controller.model readOnly=true}}
