.task {
	margin: 15px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0 2px 5px #888;
	width: 100%;
	align-self: auto;
	border-radius: 2px;
}
.task .inner {
	overflow: hidden;
}
.task:hover {
	box-shadow: 0 4px 8px #888;
}
.task.accepting {
	box-shadow: 0 5px 10px #888;
}
.task hr {
	margin: 7px 0;
}
.task ul {
	padding-left: 10px;
	list-style-position: inside;
	margin: 0;
}
.task h1,
.task h2,
.task h3,
.task h4,
.task h5 {
	margin: 0;
	padding: 0;
}
.task .details {
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.task blockquote {
	font-size: smaller;
	margin: 0px;
	padding-left: 10px;
	font-family: 'Monospace';
}
.task .link-container span.label {
	margin-right: 5px;
}
span.label a,
span.label a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}
.task .header {
	display:flex;
	justify-content: space-between;
}
.task .header .left {
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.task .inline {
	white-space: nowrap;
	display: inline;
}
.task .space {
	margin-left: 5px;
}
.task .separator::before {
	margin-left: 5px;
	content: ' | ';
	color: #ddd;
}
.done,
.do:hover {
	color: #5cb85c;
}
.do,
.done:hover,
.pin,
.pinned:hover,
.remove {
	color: #777;
}
.remove:hover {
	color: #d9534f;
}
.pinned,
.pin:hover {
	color: #337ab7;
}
